{% extends 'base.html.twig' %}
{% block body %}
	<div class="container-fluid">
		<div class="row h-100 bg-secondary" style="min-height: 100vh;">
			<div class="col-lg-2 bg-light align-self-center pb-3">
				<div class="col p-3">
					<h1 class="h3">Timelapse App</h1>
				</div>
				<div class="col card p-3 mb-1">
					<h5>Timelapse Settings</h5>
					<hr>
					{{form_start(timelapseForm)}}
					{{form_errors(timelapseForm)}}
					{{form_end(timelapseForm)}}
					<a class="btn btn-warning" href="{{ path('timelapse_snapshot') }}">Take a snapshot</a>
				</div>
				<div class="col card p-3 mb-1">
					<h5>FTP Settings</h5>
					<hr>
					{{form_start(ftpForm)}}
					{{form_errors(ftpForm)}}
					{{form_end(ftpForm)}}
				</div>
			</div>
			<div class="col">
				<div class="row h-100">
					<div class="col align-self-center text-center py-3 py-lg-5">
						<div
							id="timelapse-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
							{# <ol class="carousel-indicators d-none d-lg-flex" style="bottom: -90px !important;">
																																				{% for key, picture in pictures %}
																																					<img src="{{ picture }}" class="img-fluid mx-1 {% if key == 0 %} active {% endif %}" alt="timelapse-indicator-{{ picture|split('/')|last }}" data-target="#timelapse-carousel" data-slide-to="{{key}}" style="width: 4vw !important;">
																																				{% endfor %}
																																			</ol> #}
							<div class="carousel-inner">
								{% for key, picture in pictures %}
									{% set full_path = picture %}
									<div class="carousel-item {% if key == 0 %} active {% endif %}">
										<img src="{{ full_path }}" class="img-fluid w-75" alt="timelapse-{{ picture }}">
									</div>
								{% endfor %}
							</div>
							<a class="d-flex d-lg-none carousel-control-prev" href="#timelapse-carousel" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="d-flex d-lg-none carousel-control-next" href="#timelapse-carousel" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
					{# <p>there is
																																						{{ pictures|length }}
																																						pics</p> #}
					<div class="col-12 d-none d-lg-flex">
						<div class="row justify-content-start">
							{% for key, picture in pictures %}
								<div class="col-2 col-lg-1 align-self-center text-center">
									<div class="card rounded-0" data-target="#timelapse-carousel" data-slide-to="{{key}}">
										<img src="{{ picture }}" class="card-img-top w-100" alt="timelapse-pic-{{ picture|split('/')|last }}">
										<div class="card-body p-1 text-muted">
											<p class="card-text font-italic">{{ picture|split('/')|last }}</p>
										</div>
									</div>
									<div class="card-footer p-1 bg-white">
										<form class="form-inline" action="{{path('timelapse_picture_remove')}}" method="POST">
											<input type="hidden" name="_picture_path" id="_picture_path" value="{{picture}}">
											<button class="btn btn-danger" type="submit">
												<i class="fas fa-trash"></i>
											</button>
										</form>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
